<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">

        <div class="container">
            <br>
            <br>

            <div class="row align-items-center justify-content-center">
                <h1>Add a book</h1>
            </div>
            <br>

            <form method="POST">

                <div class="form-row">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" placeholder="Description of Room" id="description" name="description">
                </div>
                <br>
                <div class="form-row">
                    <label for="lister">Username</label>
                    <input class="form-control" type="text" placeholder="Your Username" id="lister" name="lister">
                </div>
                <br>
                <div class="form-row ">
                    <label for="roommateGender">Preferred Roommate Gender</label>
                    <select class="form-control" name="roommateGender" id="roommateGender">
                        <option value="No Preference">No Preference</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <br>
                <div class="form-row">
                    <label for="numAvailable">Rooms Available</label>
                    <input class="form-control" type="text" placeholder="Number of Rooms Available" id="numAvailable" name="numAvailable">
                </div>
                <br>
                <div class="form-row ">
                    <label for="pets">Preference on Pets</label>
                    <select class="form-control" name="pets" id="pets">
                        <option value="No Preference">No Preference</option>
                        <option value="No Pets">No Pets</option>
                    </select>
                </div>
                <br>
                <div class="form-row ">
                    <label for="shared">Shared Room</label>
                    <select class="form-control" name="shared" id="shared">
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>
                </div>
                <br>
                <div class="form-row">
                    <label for="rent">Rent</label>
                    <input class="form-control" type="text" placeholder="Rent per Month" id="rent" name="rent">
                </div>
                <br>
                <div class="form-row ">
                    <label for="ensuite">Ensuite Bathroom</label>
                    <select class="form-control" name="ensuite" id="ensuite">
                        <option value="No">No</option>
                        <option value="Yes">Yes</option>
                    </select>
                </div>
                

                <br>
                <button type="submit " class="btn btn-primary " style="float:right ">Submit</button>
            
            </form>
            <br><br>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo "
        crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js " integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49 "
        crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js " integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy "
        crossorigin="anonymous "></script>
</body>

</html>